

h1 {
    // H1 //
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 64px;  
   /* Recommend for responsive css clamp(mobile, mid, desktop) - 
   you can change 5vw value
    font-size:clamp(50px, 5vw, 64px); */
   line-height: 125%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

h2 {
    // H2 //
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 48px; 
   line-height: 133.33%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

h3 {
    // H3 //
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 32px; 
   line-height: 150%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

h4 {
    // H4 //
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 24px; 
   line-height: 150%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

h5 {
    // H5 //
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 20px; 
   line-height: 150%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

h6 {
    // H6 //
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 18px; 
   line-height: 155.56%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

.subtitle-1 {
    // Subtitle 1 //
   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 16px; 
   line-height: 150%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

.subtitle-2 {
    // Subtitle 2 //
   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 14px; 
   line-height: 157.14%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

.body-1 {
    // Body 1 //
   font-family: 'Montserrat';
   font-weight: 400;
   font-size: 16px; 
   line-height: 150%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

.body-2 {
    // Body 2 //
   font-family: 'Montserrat';
   font-weight: 400;
   font-size: 14px; 
   line-height: 157.14%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

.caption {
    // Caption //
   font-family: 'Montserrat';
   font-weight: 400;
   font-size: 12px; 
   line-height: 150%;
   text-decoration: none;
   letter-spacing: 0.0px; } 

.overline {
    // Overline //
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 20px; 
   line-height: 90%;
   text-decoration: none;
   letter-spacing: 0.0px; } 
 /* Developed by sawacrow