@use "../abstracts" as *;

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    align-items: center;
    position: relative;
    margin: 0 6.4rem;
    padding: 12rem 0;
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.4rem;
        & > p {
            max-width: 80rem;
            text-align: center;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
        gap: 1.6rem;
    }
    &__background {
        position: absolute;
        width: 100%;
        top: 15%;
        z-index: -100;
        animation: rotate 60s linear infinite;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
