@use "../abstracts/" as *;
@use "../utilities" as *;
.members-section {
    padding: 6.4rem 6.4rem;
    background-color: $background-secondary;
    h2 {
        @include highlight(
            $background-primary,
            polygon(2% 0, 100% 0, 98% 100%, 0% 100%)
        );
    }
}
.profiles {
    display: flex;
    gap: 6.4rem;
    flex-wrap: wrap;
    margin: 6.4rem auto;
    flex: 1 1 30rem;
    justify-content: center;
}

@media (max-width: $lg-screen) {
    .members-section {
        padding: 4.8rem 4.8rem;
    }
    .profiles {
        gap: 4.8rem;
    }
}

@media (max-width: $md-screen) {
    .members-section {
        padding: 3.2rem 3.2rem;
    }
    .profiles {
        gap: 3.2rem;
    }
}

@media (max-width: $sm-screen) {
    .members-section {
        padding: 2.4rem 2.4rem;
    }
    .profiles {
        gap: 2.4rem;
    }
}

@media (max-width: $xs-screen) {
    .members-section {
        padding: 1.6rem 1.6rem;
    }
    .profiles {
        gap: 1.6rem;
    }
}
