@use "../abstracts/" as *;
.button {
    padding: 0.8rem 1.4rem;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &--primary {
        background-color: $background-white;
        color: $text-black;
        &:hover {
            background-color: $background-primary;
            color: $text-white;
            outline: 2px solid $background-white;
        }
    }
    &--secondary {
        background-color: transparent;
        color: $text-white;
        outline: 2px solid $text-white;
        &:hover {
            background-color: $background-secondary;
        }
    }
}
