@use "../abstracts/" as *;
header {
    position: sticky;
    top: 0;
    z-index: 10000;
}
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 6.4rem;
    margin-bottom: 6.4rem;
    background-color: $background-secondary;
    border-bottom: 2px solid $background-primary;
    box-shadow: 0px 4px 0px $background-primary;

    &__logo {
        font-family: Anton;
        font-size: 3.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 6.6rem;
    }
    &__menu {
        display: flex;
        gap: 4.8rem;
    }
}

@media (max-width: $md-screen) {
    .navigation-bar {
        padding: 0.4rem 4.8rem;
        &__logo {
            font-size: 3.2rem;
            line-height: 5.6rem;
        }
        &__menu {
            gap: 3.2rem;
        }
    }
}
@media (max-width: $sm-screen) {
    .navigation-bar {
        padding: 0.4rem 3.2rem;
        margin-bottom: 3.2rem;
        &__logo {
            font-size: 2.4rem;
            line-height: 4.8rem;
        }
        &__menu {
            gap: 2.4rem;
        }
        &__buttons {
            a {
                padding: 0.4rem 1rem;
            }
        }
    }
}
@media (max-width: $xs-screen) {
    .navigation-bar {
        padding: 0.4rem 2.4rem;
        margin-bottom: 2.4rem;
        &__logo {
            font-size: 1.6rem;
            line-height: 4rem;
        }
        &__menu {
            gap: 1.6rem;
        }
        &__buttons {
            display: none;
        }
    }
}
