@use "colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
h1 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 125%;
    text-decoration: none;
    letter-spacing: 0rem;
}
h2 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 133.33%;
    text-decoration: none;
    letter-spacing: 0rem;
}

h3 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 0rem;
}

h4 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 0rem;
}

h5 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 0rem;
}

h6 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 155.56%;
    text-decoration: none;
    letter-spacing: 0rem;
}

a {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem; /* 112.5% */
    position: relative;
    color: $text-white;
    text-transform: uppercase;
    &:link,
    :visited {
        color: $text-white;
        text-decoration: none;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -0.6rem;
        width: 0;
        height: 3px;
        background-color: $background-secondary;
        transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover::before {
        width: 100%;
    }
}

.subtitle-1 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 0rem;
}

.subtitle-2 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 157.14%;
    text-decoration: none;
    letter-spacing: 0rem;
}

.text-1 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 0rem;
}

.text-2 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 157.14%;
    text-decoration: none;
    letter-spacing: 0rem;
}

.caption {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 0rem;
}

.overline {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 90%;
    text-decoration: none;
    letter-spacing: 0rem;
}
.heading-primary {
    font-family: "Anton", "Montserrat", sans-serif;
    text-align: center;
    font-family: Anton;
    font-size: 12.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 12.8rem; /* 100% */
    text-transform: uppercase;
}
